1
2
9
copy_2.rb
copy.rb
qlobe.rb
queen.rb
quine.rb
quines.rb
students.csv
students copy.csv
temp.rb
typos.rb
directory_copy.rb
directory_copy_spec.rb
run_program.rb
lib/csv.rb
lib/print.rb
spec/csv_spec.rb
spec/print_spec.rb
.rubocop.yml